dq_dialog_jp.txt
dq_dialog_translated.txt
ahkmon.exe
ahkmon.zip
textdb.csv
settings.ini
ahkmon_updater.exe
backup/
txtout.txt
dialogFinder.exe
questFinder.exe
walkthroughFinder.exe
debug.txt